<%= div_for comment do %>
    <table class="comments">
		 <tr>
		    <p>
			 	<tb><%=h(comment.body) %></tb><tb></tb>
			 	<tb> <small><i>Posted<%= time_ago_in_words(comment.created_at) %><i><small></tb> <br />
			
			</p>
	     </tr>
   </table>
<%end %>