<h1>Listing posts</h1>

<table class="post">
  <thead>
    <tr>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
		<th>Title:</th>
        <td><%= post.title %></td>
	  </tr>
	  <tr>
		<th>Body:</th>
        <td><%= post.body %></td>
        <td style="background-color:lightgrey;color:red;font-size:100%;margin-right:20px;"><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
   
    <% end %>
  </tbody>
</table>

<br>

<b style="background-color:lightgrey;font-size:150%;"><%= link_to 'New Post', new_post_path %><b>
