// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.comments {
    width: 100%; 
    background-color: green;
}

p.title {
	color:white;
}
p.body {
	color:white;
}